[user]
	name = Chris
	email = 79474990+zero9tracex4@users.noreply.github.com
[init]
	defaultBranch = main
[gpg]
	format = ssh
[commit]
	gpgsign = true
[include]
	path = /home/zerotrace/.gitconfig.local
[gpg "ssh"]
	allowedSignersFile = /home/zerotrace/.config/git/allowed_signers
